extends ../index

block content
    h1 Change password Customer

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="", method="POST")
        .form-group
            label(for="username") Old password
            input#username.form-control(type="text", name="oldpassword", value="")
        .form-group
            label(for="name") New Password
            input#name.form-control(type="text", name="newpassword", value="")
        .form-group
            label(for="phone") Confirm Password
            input#phone.form-control(type="number", name="confirmpassword", value="")        
       
        button(class="btn btn-primary") Update
