extends ../index

block content
  h1 
    
    span.mr-3 Store
    a.btn.btn-primary(href="/store/create") New
  .d-flex.align-items-center
    form.ml-auto(action="/store/search", method="GET")
        input(type="text", name="q")
        button Search
  table.table
    tr
        th Id
        th Name
        th Address
        th Date Create
        th
    each store in stores
      tr
        td= store.storeId
        td= store.storeName
        td= store.storeAddress
        td= store.dateCreate
        td
            a.btn.btn-xs.btn-info(href='/store/'+store.storeId+'/edit')
              i.fa.fa-edit
              | Edit
            a.btn.btn-xs.btn-danger(href='/store/'+store.storeId+'/delete')
              i.fa.fa-times
              | Delete
