extends ../index

block content
  h1 
    
    span.mr-3 Product
    a.btn.btn-primary(href="/product/create") New
  .d-flex.align-items-center
    form.ml-auto(action="/product/search", method="GET")
        input(type="text", name="q")
        button Search
  table.table
    tr
        th Picture
        th Name
        th price
        th Store name
        th Quantity
        th
    each product in products
      tr
        td
          img(src= product.picture, width= "64")
        td= product.name
        td= product.price
        td= product.storeId
        td= product.quantity
        td
            a.btn.btn-xs.btn-info(href='/product/'+product.id+'/edit')
              i.fa.fa-edit
              | Edit
            a.btn.btn-xs.btn-danger(href='/product/'+product.id+'/delete')
              i.fa.fa-times
              | Delete
